---
"@kern-orm/migrations": minor
---

Add `verifyMigrations` and migration tests in `@kern-orm/migrations/testing`.
